<div class="container">

  <p class="muted small right">SarB200palette</p>
<svg viewBox="0 0 400 350">
  <svg:g id="Sar200Blues">
  <svg:rect x="200" fill="#d2dfe6"/>
  <svg:rect x="200" y="25" fill="#a6bfcc"/>
  <svg:rect x="200" y="50" fill="#79a0b3"/>
  <svg:rect x="200" y="75" fill="#4d8099"/>
  <svg:rect x="200" y="100" fill="#206080"/>
  <svg:rect x="200" y="125" fill="#184860"/>
  <svg:rect x="200" y="150" fill="#103040"/>
  <svg:rect x="200" y="175" fill="#081820"/>
  <svg:rect x="300" fill="#ccdde6"/>
  <svg:rect x="300" y="25" fill="#9bc"/>
  <svg:rect x="300" y="50" fill="#6699b3"/>
  <svg:rect x="300" y="75" fill="#379"/>
  <svg:rect x="300" y="100" fill="#005580"/>
  <svg:rect x="300" y="125" fill="#004060"/>
  <svg:rect x="300" y="150" fill="#002b40"/>
  <svg:rect x="300" y="175" fill="#001520"/>
  <svg:rect x="300" y="250" fill="#08c"/>
  <svg:rect x="300" y="275" fill="#33a0d7"/>
  <svg:rect x="300" y="300" fill="#66b7e1"/>
  <svg:rect x="300" y="325" fill="#99cfeb"/>
  <svg:rect x="200" y="275" fill="#70838d"/>
  <svg:rect x="200" y="300" fill="#9facb3"/>
  <svg:rect x="200" y="325" fill="#cfd6d9"/>
  <svg:rect x="100" y="275" fill="#4d5e66"/>
  <svg:rect x="100" y="300" fill="#79868d"/>
  <svg:rect x="100" y="325" fill="#a6aeb3"/>
  <svg:rect y="275" fill="#83898d"/>
  <svg:rect y="300" fill="#acb0b3"/>
  <svg:rect y="325" fill="#d6d8d9"/>
  <svg:rect x="200" y="250" fill="#405a66"/>
  <svg:rect fill="#dfe3e6"/>
  <svg:rect y="25" fill="#bfc8cc"/>
  <svg:rect y="50" fill="#a0acb3"/>
  <svg:rect y="75" fill="#809199"/>
  <svg:rect y="100" fill="#607580"/>
  <svg:rect y="125" fill="#485860"/>
  <svg:rect y="150" fill="#303b40"/>
  <svg:rect y="175" fill="#181d20"/>
  <svg:rect x="100" fill="#d9e1e6"/>
  <svg:rect x="100" y="25" fill="#b3c4cc"/>
  <svg:rect x="100" y="50" fill="#8ca6b3"/>
  <svg:rect x="100" y="75" fill="#668999"/>
  <svg:rect x="100" y="100" fill="#406b80"/>
  <svg:rect x="100" y="125" fill="#305060"/>
  <svg:rect x="100" y="150" fill="#203640"/>
  <svg:rect x="100" y="175" fill="#101b20"/>
  <svg:rect x="200" y="200" fill="#040c10"/>
  <svg:rect x="300" y="200" fill="#023"/>
  <svg:rect y="200" fill="#10100c"/>
  <svg:rect x="100" y="200" fill="#101008"/>
  <svg:rect x="200" y="225" fill="#0c2430"/>
  <svg:rect x="300" y="225" fill="#069"/>
  <svg:rect y="225" fill="#242c30"/>
  <svg:rect x="100" y="225" fill="#101b20"/>
  <svg:rect x="100" y="250" fill="#182830"/>
  <svg:rect y="250" fill="#5a6266"/>
  </svg:g>
</svg>

  <p class="muted small right">SarO33palette</p>
<svg viewBox="0 0 400 350">
  <svg:g id="Sar33Oranges">
    <svg:rect x="200" fill="#e6ddd2"/>
    <svg:rect x="200" y="25" fill="#ccbba6"/>
    <svg:rect x="200" y="50" fill="#b39979"/>
    <svg:rect x="200" y="75" fill="#99774d"/>
    <svg:rect x="200" y="100" fill="#805520"/>
    <svg:rect x="200" y="125" fill="#604018"/>
    <svg:rect x="200" y="150" fill="#402b10"/>
    <svg:rect x="200" y="175" fill="#201508"/>
    <svg:rect x="300" fill="#e6dacc"/>
    <svg:rect x="300" y="25" fill="#ccb599"/>
    <svg:rect x="300" y="50" fill="#b39066"/>
    <svg:rect x="300" y="75" fill="#996b33"/>
    <svg:rect x="300" y="100" fill="#804600"/>
    <svg:rect x="300" y="125" fill="#603500"/>
    <svg:rect x="300" y="150" fill="#402300"/>
    <svg:rect x="300" y="175" fill="#201200"/>
    <svg:rect x="300" y="250" fill="#d78c33"/>
    <svg:rect x="300" y="275" fill="#e1a966"/>
    <svg:rect x="300" y="300" fill="#ebc699"/>
    <svg:rect x="300" y="325" fill="#f5e2cc"/>
    <svg:rect x="200" y="275" fill="#e1b785"/>
    <svg:rect x="200" y="300" fill="#ebcfad"/>
    <svg:rect x="200" y="325" fill="#f5e7d6"/>
    <svg:rect x="100" y="275" fill="#8d8479"/>
    <svg:rect x="100" y="300" fill="#b3ada6"/>
    <svg:rect x="100" y="325" fill="#d9d6d2"/>
    <svg:rect y="275" fill="#8d8883"/>
    <svg:rect y="300" fill="#b3b0ac"/>
    <svg:rect y="325" fill="#d9d7d6"/>
    <svg:rect x="200" y="250" fill="#d7a05c"/>
    <svg:rect fill="#e6e3df"/>
    <svg:rect y="25" fill="#ccc7bf"/>
    <svg:rect y="50" fill="#b3aaa0"/>
    <svg:rect y="75" fill="#998e80"/>
    <svg:rect y="100" fill="#807260"/>
    <svg:rect y="125" fill="#605648"/>
    <svg:rect y="150" fill="#403930"/>
    <svg:rect y="175" fill="#201c18"/>
    <svg:rect x="100" fill="#e6e0d9"/>
    <svg:rect x="100" y="25" fill="#ccc1b3"/>
    <svg:rect x="100" y="50" fill="#b3a18c"/>
    <svg:rect x="100" y="75" fill="#998266"/>
    <svg:rect x="100" y="100" fill="#806340"/>
    <svg:rect x="100" y="125" fill="#604a30"/>
    <svg:rect x="100" y="150" fill="#403220"/>
    <svg:rect x="100" y="175" fill="#201910"/>
    <svg:rect x="200" y="200" fill="#996626"/>
    <svg:rect x="300" y="200" fill="#995400"/>
    <svg:rect y="200" fill="#100e0c"/>
    <svg:rect x="100" y="200" fill="#100c08"/>
    <svg:rect x="200" y="225" fill="#c83"/>
    <svg:rect x="300" y="225" fill="#cc7000"/>
    <svg:rect y="225" fill="#302b24"/>
    <svg:rect x="100" y="225" fill="#302518"/>
    <svg:rect x="100" y="250" fill="#665b4d"/>
    <svg:rect y="250" fill="#66615a"/>
  </svg:g>
</svg>


</div>
