<p>
  Sarah's colour theme 1
</p>

<div class="container">
    <ul>
      <li class="sarB-50">sarB-50</li>
      <li class="sarB-100">sarB-100</li>
      <li class="sarB-200">sarB-200</li>
      <li class="sarB-300">sarB-300</li>
      <li class="sarB-400">sarB-400</li>
      <li class="sarB-500">sarB-500</li>
      <li class="sarB-600">sarB-600</li>
      <li class="sarB-700">sarB-700</li>
      <li class="sarB-800">sarB-800</li>
      <li class="sarB-900">sarB-900</li>
      <li class="sarB-A100">sarB-A100</li>
      <li class="sarB-A200">sarB-A200</li>
      <li class="sarB-A400">sarB-A400</li>
      <li class="sarB-A700">sarB-A700</li>
    </ul>
    <ul>
      <li class="sarO-50">sarO-50</li>
      <li class="sarO-100">sarO-100</li>
      <li class="sarO-200">sarO-200</li>
      <li class="sarO-300">sarO-300</li>
      <li class="sarO-400">sarO-400</li>
      <li class="sarO-500">sarO-500</li>
      <li class="sarO-600">sarO-600</li>
      <li class="sarO-700">sarO-700</li>
      <li class="sarO-800">sarO-800</li>
      <li class="sarO-900">sarO-900</li>
      <li class="sarO-A100">sarO-A100</li>
      <li class="sarO-A200">sarO-A200</li>
      <li class="sarO-A400">sarO-A400</li>
      <li class="sarO-A700">sarO-A700</li>
    </ul>
  </div>
