<div class="viz-container">

        <div class="canvas-container">
          <!-- <app-viz11
            [P]=P
            [A]=A
            [D]=D
            [particles]=particles
            [particleWidth]=particleWidth
            [particleHeight]=particleHeight
            [canvasWidth]=canvasWidth
            [canvasHeight]=canvasHeight
          ></app-viz11> -->
            <app-viz11
              [P]=P
              [A]=A
              [D]=D
              [emotes]=emotes
              [canvasWidth]=canvasWidth
              [canvasHeight]=canvasHeight
            ></app-viz11>
        </div>

          <!-- <div class="svg-container">
            <app-svg10a></app-svg10a>
          </div> -->

        <!-- NOTES -->
        <div class="notes">Notes CANVAS:<br>
          <ul>
            <li>{{pNote}}</li>
            <li>{{aNote}}</li>
            <li>{{dNote}}</li>
            <li>{{miscNote}}</li>
          </ul>
        </div>

      </div>
