<div #emosvg class="emosvg">
  <div #svg1>
    <app-svg17
      [P]="pValue$ | async"
      [A]="aValue$ | async"
      [D]="dValue$ | async"
    ></app-svg17>
  </div>
  <div #svg2>
      <app-svg17
      [P]="pValue$ | async"
      [A]="aValue$ | async"
      [D]="dValue$ | async"
    ></app-svg17>
  </div>
  <div #svg3>
      <app-svg17
      [P]="pValue$ | async"
      [A]="aValue$ | async"
      [D]="dValue$ | async"
    ></app-svg17>
  </div>
  <div #wavezz class="wavezz">
    <app-wavezz17
      [P]="pValue$ | async"
      [A]="aValue$ | async"
      [D]="dValue$ | async"
    ></app-wavezz17>
  </div>
</div>



  <!-- NOTES -->
  <!-- <div class="notes">SVG Notes:<br>
    <ul>
      <li>{{pNote}}</li>
      <li>{{aNote}}</li>
      <li>{{dNote}}</li>
      <li>{{miscNote}}</li>
    </ul>
  </div> -->
