svg {
  stroke: red;
  stroke-width: 2;
  fill: none;
}

path {
  stroke: green;
  stroke-width: 4;
  /* fill: transparent; */
}

#emoLine-control-points {
  fill: hsla(300, 90%, 40%, 0.5);
  stroke: hsla(300, 90%, 40%, 0.5);
  /* visibility: hidden; */
}

#emoLine-control-points line {
  stroke: hsla(300, 90%, 50%, 0.5);
}

#emoLine-control-points .yellow {
  stroke: hsla(60, 90%, 50%, 0.5);
}

/* TODO: for testing only */
.test-path {
  stroke: grey;
  transform: scale(0.4);
}
