<div class="dashboard">

  <div class="sidepanel-container muted">
    <h4>Hannah's Colours</h4>
    <p><small>Based on Material Design Color Palettes & layout</small></p>
  </div>

  <div class="main-content-container">
    <section class="color-group">
    <ul>
      <li class="color group-label">
        <span class="name light-strong">Hannah red 0 swatches (temporary MD Red)</span>
      </li>
      <li class="color dark" style="background-color: #ffebee;">
        <span class="shade expanded">50</span>
        <span class="hex">#ffebee</span>
      </li>
      <li class="color dark" style="background-color: #ffcdd2;">
        <span class="shade">100</span>
        <span class="hex">#ffcdd2</span>
      </li>
      <li class="color dark" style="background-color: #ef9a9a">
        <span class="shade expanded">200</span>
        <span class="hex">#ef9a9a</span>
      </li>
      <li class="color dark" style="background-color: #e57373;">
        <span class="shade">300</span>
        <span class="hex">#e57373</span>
      </li>
      <li class="color" style="background-color: #ef5350;">
        <span class="shade expanded">400</span>
        <span class="hex">#ef5350</span>
      </li>
      <li class="color" style="background-color: #f44336;">
        <span class="shade">500</span>
        <span class="hex">#f44336</span>
      </li>
      <li class="color" style="background-color: #e53935;">
        <span class="shade expanded">600</span>
        <span class="hex">#e53935</span>
      </li>
      <li class="color" style="background-color: #d32f2f;">
        <span class="shade">700</span>
        <span class="hex">#d32f2f</span>
      </li>
      <li class="color" style="background-color: #c62828;">
        <span class="shade expanded">800</span>
        <span class="hex">#c62828</span>
      </li>
      <li class="color" style="background-color: #b71c1c;">
        <span class="shade expanded">900</span>
        <span class="hex">#b71c1c</span>
      </li>
      <li class="color dark divide" style="background-color: #ff8a80;">
        <span class="shade accent">A100</span>
        <span class="hex">#ff8a80</span>
      </li>
      <li class="color light-strong" style="background-color: #ff5252;">
        <span class="shade accent expanded">A200</span>
        <span class="hex">#ff5252</span>
      </li>
      <li class="color" style="background-color: #ff1744;">
        <span class="shade accent expanded">A400</span>
        <span class="hex">#ff1744</span>
      </li>
      <li class="color" style="background-color: #d50000;">
        <span class="shade accent">A700</span>
        <span class="hex">#d50000</span>
      </li>
    </ul>
    </section>

  </div>

  <div class="sidepanel-container">
  </div>

</div>
