<div class="container">

  <p class="muted small right">Hannah G137 palette</p>
  <svg viewBox="0 0 400 350">
    <svg:g id="Han137greens">
      <svg:rect x="200" fill="#d2e6d8" />
      <svg:rect x="200" y="25" fill="#a6ccb1" />
      <svg:rect x="200" y="50" fill="#79b389" />
      <svg:rect x="200" y="75" fill="#4d9962" />
      <svg:rect x="200" y="100" fill="#20803b" />
      <svg:rect x="200" y="125" fill="#18602c" />
      <svg:rect x="200" y="150" fill="#10401e" />
      <svg:rect x="200" y="175" fill="#08200f" />
      <svg:rect x="300" fill="#cce6d3" />
      <svg:rect x="300" y="25" fill="#99cca7" />
      <svg:rect x="300" y="50" fill="#66b37c" />
      <svg:rect x="300" y="75" fill="#339950" />
      <svg:rect x="300" y="100" fill="#008024" />
      <svg:rect x="300" y="125" fill="#00601b" />
      <svg:rect x="300" y="150" fill="#004012" />
      <svg:rect x="300" y="175" fill="#002009" />
      <svg:rect x="300" y="250" fill="#00992b" />
      <svg:rect x="300" y="275" fill="#00cc3a" />
      <svg:rect x="300" y="300" fill="#33d761" />
      <svg:rect x="300" y="325" fill="#66e189" />
      <svg:rect x="200" y="275" fill="#33cc5e" />
      <svg:rect x="200" y="300" fill="#5cd77e" />
      <svg:rect x="200" y="325" fill="#85e19f" />
      <svg:rect x="100" y="275" fill="#66cc83" />
      <svg:rect x="100" y="300" fill="#85d79c" />
      <svg:rect x="100" y="325" fill="#a3e1b5" />
      <svg:rect y="275" fill="#99cca8" />
      <svg:rect y="300" fill="#aed7b9" />
      <svg:rect y="325" fill="#c2e1cb" />
      <svg:rect x="200" y="250" fill="#269947" />
      <svg:rect fill="#dfe6e1" />
      <svg:rect y="25" fill="#bfccc3" />
      <svg:rect y="50" fill="#a0b3a5" />
      <svg:rect y="75" fill="#809987" />
      <svg:rect y="100" fill="#608069" />
      <svg:rect y="125" fill="#48604f" />
      <svg:rect y="150" fill="#304035" />
      <svg:rect y="175" fill="#18201a" />
      <svg:rect x="100" fill="#d9e6dc" />
      <svg:rect x="100" y="25" fill="#b3ccba" />
      <svg:rect x="100" y="50" fill="#8cb397" />
      <svg:rect x="100" y="75" fill="#669975" />
      <svg:rect x="100" y="100" fill="#408052" />
      <svg:rect x="100" y="125" fill="#30603e" />
      <svg:rect x="100" y="150" fill="#204029" />
      <svg:rect x="100" y="175" fill="#102014" />
      <svg:rect x="200" y="200" fill="#0d3318" />
      <svg:rect x="300" y="200" fill="#00330e" />
      <svg:rect y="200" fill="#263329" />
      <svg:rect x="100" y="200" fill="#1a3320" />
      <svg:rect x="200" y="225" fill="#134d24" />
      <svg:rect x="300" y="225" fill="#004d16" />
      <svg:rect y="225" fill="#394d3e" />
      <svg:rect x="100" y="225" fill="#264d30" />
      <svg:rect x="100" y="250" fill="#4d9962" />
      <svg:rect y="250" fill="#73997e" />
    </svg:g>
  </svg>


  <p class="muted small right">Hannah R0 palette</p>
  <svg viewBox="0 0 400 350">
    <svg:g id="Han0reds">
      <svg:rect x="200" fill="#e6d2d2" />
      <svg:rect x="200" y="25" fill="#cca6a6" />
      <svg:rect x="200" y="50" fill="#b37979" />
      <svg:rect x="200" y="75" fill="#994d4d" />
      <svg:rect x="200" y="100" fill="#802020" />
      <svg:rect x="200" y="125" fill="#601818" />
      <svg:rect x="200" y="150" fill="#401010" />
      <svg:rect x="200" y="175" fill="#200808" />
      <svg:rect x="300" fill="#e6cccc" />
      <svg:rect x="300" y="25" fill="#c99" />
      <svg:rect x="300" y="50" fill="#b36666" />
      <svg:rect x="300" y="75" fill="#933" />
      <svg:rect x="300" y="100" fill="#800000" />
      <svg:rect x="300" y="125" fill="#600000" />
      <svg:rect x="300" y="150" fill="#400000" />
      <svg:rect x="300" y="175" fill="#200000" />
      <svg:rect x="300" y="250" fill="#c00" />
      <svg:rect x="300" y="275" fill="#d90000" />
      <svg:rect x="300" y="300" fill="#d63333" />
      <svg:rect x="300" y="325" fill="#e06666" />
      <svg:rect x="200" y="275" fill="#d93636" />
      <svg:rect x="200" y="300" fill="#d65c5c" />
      <svg:rect x="200" y="325" fill="#e08585" />
      <svg:rect x="100" y="275" fill="#d96c6c" />
      <svg:rect x="100" y="300" fill="#d68585" />
      <svg:rect x="100" y="325" fill="#d69696" />
      <svg:rect y="275" fill="#d9a3a3" />
      <svg:rect y="300" fill="#d6adad" />
      <svg:rect y="325" fill="#e0c2c2" />
      <svg:rect x="200" y="250" fill="#c33" />
      <svg:rect fill="#e6dfdf" />
      <svg:rect y="25" fill="#ccbfbf" />
      <svg:rect y="50" fill="#b3a0a0" />
      <svg:rect y="75" fill="#998080" />
      <svg:rect y="100" fill="#806060" />
      <svg:rect y="125" fill="#604848" />
      <svg:rect y="150" fill="#403030" />
      <svg:rect y="175" fill="#201818" />
      <svg:rect x="100" fill="#e6d9d9" />
      <svg:rect x="100" y="25" fill="#ccb3b3" />
      <svg:rect x="100" y="50" fill="#b38c8c" />
      <svg:rect x="100" y="75" fill="#966" />
      <svg:rect x="100" y="100" fill="#804040" />
      <svg:rect x="100" y="125" fill="#603030" />
      <svg:rect x="100" y="150" fill="#402020" />
      <svg:rect x="100" y="175" fill="#201010" />
      <svg:rect x="200" y="200" fill="#330d0d" />
      <svg:rect x="300" y="200" fill="#300" />
      <svg:rect y="200" fill="#332626" />
      <svg:rect x="100" y="200" fill="#331a1a" />
      <svg:rect x="200" y="225" fill="#4d1313" />
      <svg:rect x="300" y="225" fill="#4d0000" />
      <svg:rect y="225" fill="#4d3939" />
      <svg:rect x="100" y="225" fill="#4d2626" />
      <svg:rect x="100" y="250" fill="#c66" />
      <svg:rect y="250" fill="#c99" />
    </svg:g>
  </svg>

</div>
