/* svg {
  border: 1px solid grey;
}

#emoShape {
  fill: hsla(220, 60%, 40%, 0.5);
  stroke: teal;
}

#ellipse {
  fill:transparent;
  stroke: hsl(180, 8%, 47%);
}

#triangle {
  fill: transparent;
  stroke: grey;
} */
