<!-- <div class="viz-container"> -->

  <app-svg16></app-svg16>

  <!-- <svg>
    <path id="ellipse" d="
      M 100 100
      C 125, 65, 175, 65, 200 100
      C 230, 150, 200, 200, 150 200
      C 100, 200, 70, 150, 100 100
      "/>

    <path id="triangle" d="
      M 100 100
      C 200, 100, 200, 100, 200 100
      C 150, 200, 150, 200, 150 200
      C 100, 100, 100, 100, 100 100
      " />
  </svg> -->

  <!-- NOTES -->
  <div class="notes">SVG Notes:<br>
    <ul>
      <li>{{pNote}}</li>
      <li>{{aNote}}</li>
      <li>{{dNote}}</li>
      <li>{{miscNote}}</li>
    </ul>
  </div>

<!-- </div> -->
