svg {
  display: block;
  /* width: 100%;
  height: 100%; */
  border: 1px solid grey;
}

#emoShape {
  fill: hsla(0, 60%, 40%, 0.5);
  stroke: red;
}

#emoShape-control-points {
  fill: hsla(20, 60%, 40%, 0.5);
  stroke: hsla(20, 60%, 40%, 0.5);
}

#emoShape-control-points line {
  stroke: hsla(200, 54%, 58%, 0.1);
}

#ellipse, #triangle {
  fill:transparent;
  stroke: hsla(180, 8%, 47%, 0.25);
}

