.bg {
  fill: hsl(137, 30%, 10%);
}

text {
  fill: grey;
}

/* styles - adapted from Illustrator */
.cls-1 {
  fill: none;
  stroke: red;
  stroke-miterlimit: 10;
  stroke-width: 2;
}


/*.cls-1 {
        fill: hsl(0, 80%, 50%);
        opacity: 0.3;
        visibility: hidden;
      }

.cls-2 {
  fill: none;
  stroke: red;
  stroke-miterlimit: 10;
}*/
