
.content-container {
  display: flex;
  flex-direction: column;
  /*border: solid 1px black;*/
}

.palettes-container {
  display: flex;
  /*border: dashed 1px lightgreen;*/
}

section {
  margin: 10px 0;
}

button {
  margin: 5px;
}

.muted {
  color: #999;
}

.small {
  font-size: .8em;
}

/* ---- Styles based on/copied from Material Design Color Palettes web page */

.color-group {
    padding-right: 0;
    padding-left: 0;
    width: 100%;
}

li.group-label {
    border-bottom: 4px solid #303030;
    height: 60px;
    color: silver;
    font-size:.9em;
}

li.color {
    padding: 10px 15px 11px;
    margin: 0;
}

li.color .hex {
    float: right;
    text-transform: uppercase;
    display: block;
}

.dark {
  color: #212121;
}

li.divide {
    border-top: 4px solid #303030;
}

