.dashboard {
  display: flex;
  height: 100%;
  /*border: solid 1px blue;*/
}

.main-content-container {
  display: flex;
  justify-content: center;
  flex: 3;
  /*border: solid 1px red;*/
}

/*.main-content {
  display: flex;
  flex-direction: column;
  min-width: 400px;
  max-width: 500px;
  border: dashed 1px lightgreen;
}*/

.sidepanel-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px;
  /*line-height: 2em;*/
  /*border: solid 1px grey;*/
}

.section {
  margin: 10px 0;
 /*padding: 10px 0;*/
}

button {
  margin: 5px;
}

.muted {
  color: silver;
}

.mat-nav-list .mat-list-item {
  color: grey;
}

.mat-nav-list .mat-list-item.active, .active {
  color: white;
}

/* TODO: MAYBE ALSO TRY USING MATERIAL COLOR PALETTES AS IS FOR THE ACTORS ??? */

:host {
  --txt-dark: hsla(0, 0%, 0%, 0.8);
  --txt-light: hsla(0, 0%, 100%, 0.9);
  --swatch-min-width: 120px;
  /* HANNAH's red 0 (x 14) */
  --hanR-50: hsl(0, 100%, 96%);
  --hanR-100: hsl(0, 100%, 90%);
  --hanR-200: hsl(0, 73%, 77%);
  --hanR-300: hsl(0, 69%, 67%);
  --hanR-400: hsl(0, 83%, 63%);
  --hanR-500: hsl(0, 90%, 58%);
  --hanR-600: hsl(0, 77%, 55%);
  --hanR-700: hsl(0, 65%, 50%);
  --hanR-800: hsl(0, 66%, 40%);
  --hanR-900: hsl(0, 73%, 30%);
  --hanR-A100: hsl(0, 100%, 75%);
  --hanR-A200: hsl(0, 100%, 66%);
  --hanR-A400: hsl(0, 100%, 55%);
  --hanR-A700: hsl(0, 100%, 42%);
  /* HANNAH's green 137 */
  --hanG-50:hsl(137, 39%, 94%);
  --hanG-100: hsl(137, 38%, 84%) ;
  --hanG-200: hsl(137, 37%, 74%);
  --hanG-300: hsl(137, 38%, 64%);
  --hanG-400: hsl(137, 38%, 57%);
  --hanG-500: hsl(137, 39%, 49%);
  --hanG-600: hsl(137, 41%, 40%);
  --hanG-700: hsl(137, 43%, 34%);
  --hanG-800: hsl(137, 46%, 27%);
  --hanG-900: hsl(137, 55%, 20%);
  --hanG-A100: hsl(137, 77%, 85%);
  --hanG-A200: hsl(151, 82%, 68%);
  --hanG-A400: hsl(151, 100%, 45%);
  --hanG-A700: hsl(145, 100%, 39%);
  /* JOEL's yellow 56 */
  --joeY-50: hsl(56, 71%, 95%);
  --joeY-100: hsl(56, 69%, 86%);
  --joeY-200: hsl(56, 71%, 77%);
  --joeY-300: hsl(56, 70%, 68%);
  --joeY-400: hsl(56, 70%, 61%);
  --joeY-500: hsl(56, 70%, 54%);
  --joeY-600: hsl(56, 60%, 48%);
  --joeY-700: hsl(56, 61%, 38%);
  --joeY-800: hsl(56, 63%, 30%);
  --joeY-900: hsl(56, 70%, 20%);
  --joeY-A100: hsl(65, 100%, 75%);
  --joeY-A200: hsl(65, 100%, 63%);
  --joeY-A400: hsl(73, 100%, 50%);
  --joeY-A700: hsl(75, 100%, 46%);
  /* JOEL's purple 259 */
  --joeP-50: hsl(259, 45%, 94%);
  --joeP-100: hsl(259, 46%, 84%);
  --joeP-200: hsl(259, 46%, 74%);
  --joeP-300: hsl(259, 47%, 63%);
  --joeP-400: hsl(259, 47%, 55%);
  --joeP-500: hsl(259, 52%, 47%);
  --joeP-600: hsl(259, 54%, 45%);
  --joeP-700: hsl(259, 58%, 42%);
  --joeP-800: hsl(259, 61%, 39%);
  --joeP-900: hsl(259, 69%, 34%);
  --joeP-A100: hsl(262, 100%, 77%);
  --joeP-A200: hsl(256, 100%, 65%);
  --joeP-A400: hsl(259, 100%, 56%);
  --joeP-A700: hsl(265, 100%, 46%);
  /* SARAH's blue 200 */
  --sarB-50: hsl(199, 94%, 94%);
  --sarB-100: hsl(199, 92%, 85%);
  --sarB-200: hsl(199, 92%, 74%);
  --sarB-300: hsl(199, 91%, 64%);
  --sarB-400: hsl(199, 92%, 56%);
  --sarB-500: hsl(199, 98%, 48%);
  --sarB-600: hsl(200, 97%, 45%);
  --sarB-700: hsl(201, 98%, 41%);
  --sarB-800: hsl(202, 98%, 37%);
  --sarB-900: hsl(200, 100%, 31%);
  --sarB-A100: hsl(198, 100%, 75%);
  --sarB-A200: hsl(199, 100%, 63%);
  --sarB-A400: hsl(199, 100%, 50%);
  --sarB-A700: hsl(203, 100%, 46%);
  /* SARAH's orange 33 */
  --sarO-50: hsl(33, 100%, 94%);
  --sarO-100: hsl(33, 100%, 85%);
  --sarO-200: hsl(33, 100%, 75%);
  --sarO-300: hsl(33, 100%, 65%);
  --sarO-400: hsl(33, 100%, 57%);
  --sarO-500: hsl(33, 100%, 50%);
  --sarO-600: hsl(33, 100%, 45%);
  --sarO-700: hsl(33, 95%, 40%);
  --sarO-800: hsl(33, 90%, 35%);
  --sarO-900: hsl(33, 88%, 30%);
  --sarO-A100: hsl(38, 100%, 75%);
  --sarO-A200: hsl(34, 100%, 63%);
  --sarO-A400: hsl(34, 100%, 50%);
  --sarO-A700: hsl(26, 100%, 50%);
}
