:host {
  flex: 1;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*width: 100%;*/
  height: 100%;
  /*background-color:grey;*/
  /*border: dashed 1px wheat;*/
}

svg {
  flex: auto;
  /*width: 100%;*/
  /*height: 100%;*/
}

.muted {
  color: #999;
}

.small {
  font-size: .8em;
}

.right {
  text-align: right;
}
