.main-container {
  display: flex;
}

/* main is mobile app height approx simulation */
main {
  flex: auto;
  height: 700px;
  /*border: 1px solid white;*/
}

md-sidenav {
  width: 200px;
}

/*.side-title {
  padding: 0 16px;
}*/


/* I want to make the toolbar narrower but how? This does not work */
/*md-toolbar-row.mat-toolbar-row {
  height: 40px;
}*/
