
.dashboard {
  display: flex;
  height: 100%;
  /*border: solid 2px blue;*/
}

.content-container {
  display: flex;
  justify-content: center;
  flex: 3;
  /*border: solid 2px red;*/
}

.content {
  display: flex;
  flex-direction: column;
  min-width: 400px;
  max-width: 500px;
  /*border: solid 1px lime;*/
}
.actorviz-container {
  display: flex;
  flex: 1;
  /*border: 2px dashed grey;*/
}

.ui-container {
  display: flex;
  flex: 1;
  padding: 10px;
  /*border: 2px dashed paleturquoise;*/
}

.sidepanel-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px;
  line-height: 2em;
  /*border: solid 2px lightgreen;*/
}

.muted {
  color: silver;
}
