
.dashboard {
  display: flex;
  height: 100%;
  border: solid 2px blue;
}

.content-container {
  display: flex;
  justify-content: center;
  flex: 3;
  border: solid 2px red;
}

.sidepanel-container {
  display: flex;
  flex: 1;
  padding: 10px;
  border: solid 2px lightgreen;
}
