:host {
  border: solid 2px lightblue;
  background-color: lightcyan;
  /*background-color: red;*/
}

.npc-viz {
  /*height: 100px;
  width: 150px;*/
  height: 50%;
  width: 66%;
  background-color: lightgreen;
}
