

.protag {
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  background-color: darkgoldenrod;
  /*border: 2px dashed purple;*/
  ;
}

.speaks-container, .thinks-container, .options-container {
  flex: auto;
  height: 33%;
  overflow: hidden;
  /*border: 1px solid beige;*/
}

/* contains protag-options (one ul element) */
.options-container {
  display: flex;
}

.protag-speaks {
  border: 1px solid tan;
}

.protag-thinks {
  font-style: italic;
  border: 1px solid tan;
}

/* layout of the options list - OK, handles one, two or three options*/
.protag-options {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid tan;
}

li {
  flex: auto;
  max-width: 50%;
  min-width: 33%;
  border: 1px solid khaki;
}

button {
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  background: 0 0;
  font-size: 14px;
  font-style: italic;
  text-align: left;
  padding: 10px;
  border-radius: 4px;
}

button:hover {
  background-color: hsla(0, 50, 0, 0.2);
}

/* what to do with this ??? */
/*.protag-viz {
  height: 33%;
  width: 50%;
  background-color: #342652;
}*/

/* not sure about this ??? */
.protag-viz-container {
  flex: auto;
  align-self: flex-end;
  /*width: 100%;*/
  margin-bottom: 10px;
  border: 2px dashed rebeccapurple;
}
