
.scene {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: initial; /* equivalent to flex: 0 1 auto */
  height: 100%;
  max-width: 400px; /* approx simulate mobile size */
  /*border: 3px solid tomato;*/
}

.npc-container {
  flex: auto;
  height: 50%;
  /*flex: 1;*/
  /*border: 3px dashed green;*/
}

.protag-container {
  flex: auto;
  height: 50%;
  /*flex: 1;*/
  /*border: 3px dashed blue;*/
}

/* NOTE: the above ...-container classes are flex items only. I'm leaving the display:flex responsibilty to the npc and protag components because I think their layout should be self-contained because component CSS is encapsulated. */

p {
  border: 1px solid black;
}




