<p>
  Joel's colour theme 1
</p>
<div class="container">
    <ul>
      <li class="joeY-50">joeY-50</li>
      <li class="joeY-100">joeY-100</li>
      <li class="joeY-200">joeY-200</li>
      <li class="joeY-300">joeY-300</li>
      <li class="joeY-400">joeY-400</li>
      <li class="joeY-500">joeY-500</li>
      <li class="joeY-600">joeY-600</li>
      <li class="joeY-700">joeY-700</li>
      <li class="joeY-800">joeY-800</li>
      <li class="joeY-900">joeY-900</li>
      <li class="joeY-A100">joeY-A100</li>
      <li class="joeY-A200">joeY-A200</li>
      <li class="joeY-A400">joeY-A400</li>
      <li class="joeY-A700">joeY-A700</li>
    </ul>
    <ul>
      <li class="joeP-50">joeP-50</li>
      <li class="joeP-100">joeP-100</li>
      <li class="joeP-200">joeP-200</li>
      <li class="joeP-300">joeP-300</li>
      <li class="joeP-400">joeP-400</li>
      <li class="joeP-500">joeP-500</li>
      <li class="joeP-600">joeP-600</li>
      <li class="joeP-700">joeP-700</li>
      <li class="joeP-800">joeP-800</li>
      <li class="joeP-900">joeP-900</li>
      <li class="joeP-A100">joeP-A100</li>
      <li class="joeP-A200">joeP-A200</li>
      <li class="joeP-A400">joeP-A400</li>
      <li class="joeP-A700">joeP-A700</li>
    </ul>
  </div>
