<div class="container">

  <p class="muted small right">Joel Y56 palette</p>
  <svg viewBox="0 0 400 350">
    <svg:g id="Joel56yellows">
  <svg:rect x="200" fill="#e6e4d2"/>
  <svg:rect x="200" y="25" fill="#ccc9a6"/>
  <svg:rect x="200" y="50" fill="#b3af79"/>
  <svg:rect x="200" y="75" fill="#99944d"/>
  <svg:rect x="200" y="100" fill="#807920"/>
  <svg:rect x="200" y="125" fill="#605b18"/>
  <svg:rect x="200" y="150" fill="#403d10"/>
  <svg:rect x="200" y="175" fill="#201e08"/>
  <svg:rect x="300" fill="#e6e4cc"/>
  <svg:rect x="300" y="25" fill="#ccc999"/>
  <svg:rect x="300" y="50" fill="#b3ad66"/>
  <svg:rect x="300" y="75" fill="#999233"/>
  <svg:rect x="300" y="100" fill="#807700"/>
  <svg:rect x="300" y="125" fill="#605900"/>
  <svg:rect x="300" y="150" fill="#403c00"/>
  <svg:rect x="300" y="175" fill="#201e00"/>
  <svg:rect x="300" y="250" fill="#ccbe00"/>
  <svg:rect x="300" y="275" fill="#d7cb33"/>
  <svg:rect x="300" y="300" fill="#e1d866"/>
  <svg:rect x="300" y="325" fill="#ebe599"/>
  <svg:rect x="200" y="275" fill="#8d8a70"/>
  <svg:rect x="200" y="300" fill="#b3b19f"/>
  <svg:rect x="200" y="325" fill="#d9d8cf"/>
  <svg:rect x="100" y="275" fill="#8d8b79"/>
  <svg:rect x="100" y="300" fill="#b3b2a6"/>
  <svg:rect x="100" y="325" fill="#d9d8d2"/>
  <svg:rect y="275" fill="#8d8c83"/>
  <svg:rect y="300" fill="#b3b2ac"/>
  <svg:rect y="325" fill="#d9d9d6"/>
  <svg:rect x="200" y="250" fill="#666440"/>
  <svg:rect fill="#e6e6df"/>
  <svg:rect y="25" fill="#cccbbf"/>
  <svg:rect y="50" fill="#b3b2a0"/>
  <svg:rect y="75" fill="#999880"/>
  <svg:rect y="100" fill="#807e60"/>
  <svg:rect y="125" fill="#605f48"/>
  <svg:rect y="150" fill="#403f30"/>
  <svg:rect y="175" fill="#202018"/>
  <svg:rect x="100" fill="#e6e5d9"/>
  <svg:rect x="100" y="25" fill="#cccbb3"/>
  <svg:rect x="100" y="50" fill="#b3b08c"/>
  <svg:rect x="100" y="75" fill="#999666"/>
  <svg:rect x="100" y="100" fill="#807c40"/>
  <svg:rect x="100" y="125" fill="#605d30"/>
  <svg:rect x="100" y="150" fill="#403e20"/>
  <svg:rect x="100" y="175" fill="#201f10"/>
  <svg:rect x="200" y="200" fill="#302e0c"/>
  <svg:rect x="300" y="200" fill="#333000"/>
  <svg:rect y="200" fill="#10100c"/>
  <svg:rect x="100" y="200" fill="#101008"/>
  <svg:rect x="200" y="225" fill="#403d10"/>
  <svg:rect x="300" y="225" fill="#998f00"/>
  <svg:rect y="225" fill="#302f24"/>
  <svg:rect x="100" y="225" fill="#403e20"/>
  <svg:rect x="100" y="250" fill="#66654d"/>
  <svg:rect y="250" fill="#66665a"/>
    </svg:g>
</svg>


  <p class="muted small right">Joel P259 palette</p>
<svg viewBox="0 0 400 350">
  <svg:g id="Joel259purples">
    <svg:rect x="200" fill="#d8d2e6"/>
    <svg:rect x="200" y="25" fill="#b2a6cc"/>
    <svg:rect x="200" y="50" fill="#8b79b3"/>
    <svg:rect x="200" y="75" fill="#654d99"/>
    <svg:rect x="200" y="100" fill="#3e2080"/>
    <svg:rect x="200" y="125" fill="#2f1860"/>
    <svg:rect x="200" y="150" fill="#1f1040"/>
    <svg:rect x="200" y="175" fill="#100820"/>
    <svg:rect x="300" fill="#d4cce6"/>
    <svg:rect x="300" y="25" fill="#a999cc"/>
    <svg:rect x="300" y="50" fill="#7f66b3"/>
    <svg:rect x="300" y="75" fill="#543399"/>
    <svg:rect x="300" y="100" fill="#290080"/>
    <svg:rect x="300" y="125" fill="#1f0060"/>
    <svg:rect x="300" y="150" fill="#150040"/>
    <svg:rect x="300" y="175" fill="#0a0020"/>
    <svg:rect x="300" y="250" fill="#310099"/>
    <svg:rect x="300" y="275" fill="#4200cc"/>
    <svg:rect x="300" y="300" fill="#6733d7"/>
    <svg:rect x="300" y="325" fill="#b399eb"/>
    <svg:rect x="200" y="275" fill="#79708d"/>
    <svg:rect x="200" y="300" fill="#a59fb3"/>
    <svg:rect x="200" y="325" fill="#d2cfd9"/>
    <svg:rect x="100" y="275" fill="#7f798d"/>
    <svg:rect x="100" y="300" fill="#aaa6b3"/>
    <svg:rect x="100" y="325" fill="#d4d2d9"/>
    <svg:rect y="275" fill="#86838d"/>
    <svg:rect y="300" fill="#aeacb3"/>
    <svg:rect y="325" fill="#d7d6d9"/>
    <svg:rect x="200" y="250" fill="#4c4066"/>
    <svg:rect fill="#e1dfe6"/>
    <svg:rect y="25" fill="#c3bfcc"/>
    <svg:rect y="50" fill="#a6a0b3"/>
    <svg:rect y="75" fill="#888099"/>
    <svg:rect y="100" fill="#6a6080"/>
    <svg:rect y="125" fill="#504860"/>
    <svg:rect y="150" fill="#353040"/>
    <svg:rect y="175" fill="#1b1820"/>
    <svg:rect x="100" fill="#ddd9e6"/>
    <svg:rect x="100" y="25" fill="#bbb3cc"/>
    <svg:rect x="100" y="50" fill="#988cb3"/>
    <svg:rect x="100" y="75" fill="#766699"/>
    <svg:rect x="100" y="100" fill="#544080"/>
    <svg:rect x="100" y="125" fill="#3f3060"/>
    <svg:rect x="100" y="150" fill="#2a2040"/>
    <svg:rect x="100" y="175" fill="#151020"/>
    <svg:rect x="200" y="200" fill="#080410"/>
    <svg:rect x="300" y="200" fill="#100033"/>
    <svg:rect y="200" fill="#0d0c10"/>
    <svg:rect x="100" y="200" fill="#0b0810"/>
    <svg:rect x="200" y="225" fill="#170c30"/>
    <svg:rect x="300" y="225" fill="#210066"/>
    <svg:rect y="225" fill="#282430"/>
    <svg:rect x="100" y="225" fill="#201830"/>
    <svg:rect x="100" y="250" fill="#554d66"/>
    <svg:rect y="250" fill="#5e5a66"/>
  </svg:g>
</svg>

</div>
