  <div class="content-container">

  <div class="palettes-container">
    <!-- format based on Material Design  -->

    <section class="color-group">
      <ul>
        <li class="color group-label">
          <span class="name light-strong">Hannah R0 sample swatches</span>
        </li>
        <li class="color dark" style="background-color: #E6D2D2;">
          <span class="shade expanded">50</span>
          <span class="hex">#E6D2D2</span>
        </li>
        <li class="color dark" style="background-color: #CCA6A6;">
          <span class="shade">100</span>
          <span class="hex">#CCA6A6</span>
        </li>
        <li class="color dark" style="background-color: #CC9999">
          <span class="shade expanded">200</span>
          <span class="hex">#CC9999</span>
        </li>
        <li class="color dark" style="background-color: #B37979;">
          <span class="shade">300</span>
          <span class="hex">#B37979</span>
        </li>
        <li class="color" style="background-color: #996666;">
          <span class="shade expanded">400</span>
          <span class="hex">#996666</span>
        </li>
        <li class="color" style="background-color: #994D4D;">
          <span class="shade">500</span>
          <span class="hex">#994D4D</span>
        </li>
        <li class="color" style="background-color: #993333;">
          <span class="shade expanded">600</span>
          <span class="hex">#993333</span>
        </li>
        <li class="color" style="background-color: #800000;">
          <span class="shade">700</span>
          <span class="hex">#800000</span>
        </li>
        <li class="color" style="background-color: #600000;">
          <span class="shade expanded">800</span>
          <span class="hex">#600000</span>
        </li>
        <li class="color" style="background-color: #400000;">
          <span class="shade expanded">900</span>
          <span class="hex">#400000</span>
        </li>
        <li class="color dark divide" style="background-color: #E08585;">
          <span class="shade accent">A100</span>
          <span class="hex">#E08585</span>
        </li>
        <li class="color light-strong" style="background-color: #D93636;">
          <span class="shade accent expanded">A200</span>
          <span class="hex">#D93636</span>
        </li>
        <li class="color" style="background-color: #D90000;">
          <span class="shade accent expanded">A400</span>
          <span class="hex">#D90000</span>
        </li>
        <li class="color" style="background-color: #CC0000;">
          <span class="shade accent">A700</span>
          <span class="hex">#CC0000</span>
        </li>
      </ul>
    </section>

    <section class="color-group">
      <ul>
        <li class="color group-label">
          <span class="name light-strong">Hannah G137 sample swatches</span>
        </li>
        <li class="color dark" style="background-color: #D9E6DC;">
          <span class="shade expanded">50</span>
          <span class="hex">#D9E6DC</span>
        </li>
        <li class="color dark" style="background-color: #BFCCC3;">
          <span class="shade">100</span>
          <span class="hex">#BFCCC3</span>
        </li>
        <li class="color dark" style="background-color: #A0B3A5">
          <span class="shade expanded">200</span>
          <span class="hex">#A0B3A5</span>
        </li>
        <li class="color dark" style="background-color: #809987;">
          <span class="shade">300</span>
          <span class="hex">#809987</span>
        </li>
        <li class="color" style="background-color: #608069;">
          <span class="shade expanded">400</span>
          <span class="hex">#608069</span>
        </li>
        <li class="color" style="background-color: #48604F;">
          <span class="shade">500</span>
          <span class="hex">#48604F</span>
        </li>
        <li class="color" style="background-color: #394D3E;">
          <span class="shade expanded">600</span>
          <span class="hex">#394D3E</span>
        </li>
        <li class="color" style="background-color: #204029;">
          <span class="shade">700</span>
          <span class="hex">#204029</span>
        </li>
        <li class="color" style="background-color: #10401E;">
          <span class="shade expanded">800</span>
          <span class="hex">#10401E</span>
        </li>
        <li class="color" style="background-color: #002009;">
          <span class="shade expanded">900</span>
          <span class="hex">#002009</span>
        </li>
        <li class="color dark divide" style="background-color: #79B389;">
          <span class="shade accent">A100</span>
          <span class="hex">#79B389</span>
        </li>
        <li class="color light-strong" style="background-color: #4D9962;">
          <span class="shade accent expanded">A200</span>
          <span class="hex">#4D9962</span>
        </li>
        <li class="color" style="background-color: #269947;">
          <span class="shade accent">A400</span>
          <span class="hex">#269947</span>
        </li>
        <li class="color" style="background-color: #20803B;">
          <span class="shade accent expanded">A700</span>
          <span class="hex">#20803B</span>
        </li>
      </ul>
    </section>

  </div>

  <p class="muted small">Based on the Material Design Color Palettes system & layout</p>

  </div>
